BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
KeepEmptyLinesAtTheStartOfBlocks: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
SortIncludes: CaseInsensitive